In [1]:
# Load and activate the SQL extension to allow us to execute SQL in a Jupyter notebook.
%load_ext sql

In [2]:
# Establish a connection to the local database using the '%sql' magic command.
# Replace 'password' with our connection password and `db_name` with our database name. 
# If you get an error here, please make sure the database name or password is correct.

%sql mysql+pymysql://root:ofge@localhost:3306/northwind

In [5]:
%%sql

SELECT
    *
FROM
    northwind.Orders
LIMIT 10;

 * mysql+pymysql://root:***@localhost:3306/northwind
10 rows affected.

[(10248, 90, 5, datetime.datetime(1996, 7, 4, 0, 0), 3),
 (10249, 81, 6, datetime.datetime(1996, 7, 5, 0, 0), 1),
 (10250, 34, 4, datetime.datetime(1996, 7, 8, 0, 0), 2),
 (10251, 84, 3, datetime.datetime(1996, 7, 8, 0, 0), 1),
 (10252, 76, 4, datetime.datetime(1996, 7, 9, 0, 0), 2),
 (10253, 34, 3, datetime.datetime(1996, 7, 10, 0, 0), 2),
 (10254, 14, 5, datetime.datetime(1996, 7, 11, 0, 0), 2),
 (10255, 68, 9, datetime.datetime(1996, 7, 12, 0, 0), 3),
 (10256, 88, 3, datetime.datetime(1996, 7, 15, 0, 0), 2),
 (10257, 35, 4, datetime.datetime(1996, 7, 16, 0, 0), 3)]

## Exercise 1
Rank all the orders of a specific customer from the most recent to the least recent using window functions. Assume that the customer ID is 'ALFKI'.

In [7]:
%%sql

SELECT
    OrderID,
    OrderDate,
    RANK() OVER (ORDER BY OrderDate DESC) as Order_rank
FROM
    Orders
WHERE
    CustomerID = 'ALFKI';

 * mysql+pymysql://root:***@localhost:3306/northwind
0 rows affected.

[]

## Exercise 2
Calculate a running total of the quantity of orders using window functions.

In [12]:
%%sql

SELECT
    OrderID,
    Quantity,
    SUM(Quantity) OVER (
    ORDER BY OrderID) as RunningTotal
FROM
    OrderDetails
GROUP BY
    OrderID;

 * mysql+pymysql://root:***@localhost:3306/northwind
(pymysql.err.OperationalError) (1055, "Expression #2 of SELECT list is not in GROUP BY clause and contains nonaggregated column 'northwind.OrderDetails.Quantity' which is not functionally dependent on columns in GROUP BY clause; this is incompatible with sql_mode=only_full_group_by")
[SQL: SELECT
    OrderID,
    Quantity,
    SUM(Quantity) OVER (
    ORDER BY OrderID) as RunningTotal
FROM
    OrderDetails
GROUP BY
    OrderID;]
(Background on this error at: https://sqlalche.me/e/20/e3q8)

## Exercise 3
Use window functions to find the difference in successive order dates for each customer. HINT: The TIMESTAMPDIFF() function in MySQL is not available in SQLite. We can use the julianday() function to convert the dates to a floating point number and then calculate the difference.

In [14]:
SELECT
    CustomerID,
    OrderDate,
    LAG(OrderDate, 1) OVER
        (PARTITION BY CustomerID
        ORDER BY OrderDate) AS PrevOrderDate,
    DATEDIFF(OrderDate, LAG(OrderDate, 1) OVER
            (PARTITION BY CustomerID
            ORDER BY OrderDate)) AS DateDiff
FROM
    Orders;

IndentationError: unexpected indent (1415059766.py, line 2)