In [1]:
# Load and activate the SQL extension to allow us to execute SQL in a Jupyter notebook. 
# If you get an error here, make sure that mysql and pymysql are installed correctly. 

%load_ext sql

In [2]:
# Establish a connection to the local database using the '%sql' magic command.
# Replace 'password' with our connection password and `db_name` with our database name. 
# If you get an error here, please make sure the database name or password is correct.

%sql mysql+pymysql://root:ofge@localhost:3306/united_nations

In [7]:
%%sql

SELECT
    Country_name,
    Time_period,
    Pct_managed_drinking_water_services
FROM
    united_nations.Access_to_Basic_Services
LIMIT 50;

 * mysql+pymysql://root:***@localhost:3306/united_nations
50 rows affected.

[('Kazakhstan', 2015, Decimal('94.67')),
 ('Kazakhstan', 2016, Decimal('94.67')),
 ('Kazakhstan', 2017, Decimal('95.00')),
 ('Kazakhstan', 2018, Decimal('95.00')),
 ('Kazakhstan', 2019, Decimal('95.00')),
 ('Kazakhstan', 2020, Decimal('95.00')),
 ('Kyrgyzstan', 2015, Decimal('89.67')),
 ('Kyrgyzstan', 2016, Decimal('90.33')),
 ('Kyrgyzstan', 2017, Decimal('91.00')),
 ('Kyrgyzstan', 2018, Decimal('91.33')),
 ('Kyrgyzstan', 2019, Decimal('91.67')),
 ('Kyrgyzstan', 2020, Decimal('92.67')),
 ('Tajikistan', 2015, Decimal('80.33')),
 ('Tajikistan', 2016, Decimal('81.33')),
 ('Tajikistan', 2017, Decimal('82.33')),
 ('Tajikistan', 2018, Decimal('83.33')),
 ('Tajikistan', 2019, Decimal('85.00')),
 ('Tajikistan', 2020, Decimal('85.00')),
 ('Turkmenistan', 2015, Decimal('97.67')),
 ('Turkmenistan', 2016, Decimal('98.00')),
 ('Turkmenistan', 2017, Decimal('98.67')),
 ('Turkmenistan', 2018, Decimal('99.33')),
 ('Turkmenistan', 2019, Decimal('100.00')),
 ('Turkmenistan', 2020, Decimal('100.00')),
 ('Uzbekistan', 2015, Decimal('97.67')),
 ('Uzbekistan', 2016, Decimal('97.67')),
 ('Uzbekistan', 2017, Decimal('98.00')),
 ('Uzbekistan', 2018, Decimal('98.00')),
 ('Uzbekistan', 2019, Decimal('98.00')),
 ('Uzbekistan', 2020, Decimal('98.00')),
 ('Afghanistan', 2015, Decimal('67.00')),
 ('Afghanistan', 2016, Decimal('69.67')),
 ('Afghanistan', 2017, Decimal('72.33')),
 ('Afghanistan', 2018, Decimal('75.33')),
 ('Afghanistan', 2019, Decimal('78.00')),
 ('Afghanistan', 2020, Decimal('80.33')),
 ('Bangladesh', 2015, Decimal('97.33')),
 ('Bangladesh', 2016, Decimal('97.33')),
 ('Bangladesh', 2017, Decimal('97.33')),
 ('Bangladesh', 2018, Decimal('97.33')),
 ('Bangladesh', 2019, Decimal('97.67')),
 ('Bangladesh', 2020, Decimal('97.67')),
 ('Bhutan', 2015, Decimal('96.33')),
 ('Bhutan', 2016, Decimal('97.00')),
 ('Bhutan', 2017, Decimal('97.33')),
 ('Bhutan', 2018, Decimal('97.33')),
 ('Bhutan', 2019, Decimal('97.33')),
 ('Bhutan', 2020, Decimal('97.33')),
 ('India', 2015, Decimal('89.00')),
 ('India', 2016, Decimal('89.33'))]

## 1. Order countries based on their water access levels per year.
Use the ROW_NUMBER() function to order the countries based on their water access levels per year.

In [12]:
%%sql  
SELECT
    Country_name,
    Time_period,
    Pct_managed_drinking_water_services,
    ROW_NUMBER() OVER( PARTITION BY Time_period
        ORDER BY Pct_managed_drinking_water_services) AS Rank_of_water_services
FROM
    united_nations.Access_to_Basic_Services
LIMIT 50;

 * mysql+pymysql://root:***@localhost:3306/united_nations
50 rows affected.

[('Central African Republic', 2015, Decimal('44.00'), 1),
 ('Democratic Republic of the Congo', 2015, Decimal('45.33'), 2),
 ('South Sudan', 2015, Decimal('46.33'), 3),
 ('Angola', 2015, Decimal('50.33'), 4),
 ('Somalia', 2015, Decimal('50.67'), 5),
 ('Chad', 2015, Decimal('51.67'), 6),
 ('Ethiopia', 2015, Decimal('52.00'), 7),
 ('Madagascar', 2015, Decimal('53.33'), 8),
 ('Papua New Guinea', 2015, Decimal('53.67'), 9),
 ('Uganda', 2015, Decimal('55.00'), 10),
 ('Mozambique', 2015, Decimal('55.67'), 11),
 ('Eritrea', 2015, Decimal('56.33'), 12),
 ('Burkina Faso', 2015, Decimal('56.33'), 13),
 ('Niger', 2015, Decimal('56.67'), 14),
 ('Equatorial Guinea', 2015, Decimal('57.67'), 15),
 ('United Republic of Tanzania', 2015, Decimal('58.33'), 16),
 ('Yemen', 2015, Decimal('59.00'), 17),
 ('Guinea-Bissau', 2015, Decimal('60.00'), 18),
 ('Sierra Leone', 2015, Decimal('60.00'), 19),
 ('Sudan', 2015, Decimal('61.33'), 20),
 ('Cameroon', 2015, Decimal('62.67'), 21),
 ('Rwanda', 2015, Decimal('63.00'), 22),
 ('Zambia', 2015, Decimal('63.67'), 23),
 ('Haiti', 2015, Decimal('64.00'), 24),
 ('Kenya', 2015, Decimal('64.33'), 25),
 ('Benin', 2015, Decimal('65.33'), 26),
 ('Congo', 2015, Decimal('66.33'), 27),
 ('Togo', 2015, Decimal('66.33'), 28),
 ('Mauritania', 2015, Decimal('66.67'), 29),
 ('Afghanistan', 2015, Decimal('67.00'), 30),
 ('Guinea', 2015, Decimal('67.00'), 31),
 ('Burundi', 2015, Decimal('68.33'), 32),
 ('Nigeria', 2015, Decimal('69.00'), 33),
 ('Djibouti', 2015, Decimal('69.67'), 34),
 ('Zimbabwe', 2015, Decimal('70.00'), 35),
 ('Malawi', 2015, Decimal('71.33'), 36),
 ("C么te d'Ivoire", 2015, Decimal('71.33'), 37),
 ('Gabon', 2015, Decimal('72.00'), 38),
 ('Liberia', 2015, Decimal('72.67'), 39),
 ('Cambodia', 2015, Decimal('73.33'), 40),
 ('Eswatini', 2015, Decimal('73.33'), 41),
 ('Kiribati', 2015, Decimal('73.67'), 42),
 ('Solomon Islands', 2015, Decimal('74.33'), 43),
 ('Lesotho', 2015, Decimal('74.67'), 44),
 ('Mongolia', 2015, Decimal('75.67'), 45),
 ('Sao Tome and Principe', 2015, Decimal('76.00'), 46),
 ('Mali', 2015, Decimal('76.00'), 47),
 ('Myanmar', 2015, Decimal('76.33'), 48),
 ('Timor-Leste', 2015, Decimal('78.00'), 49),
 ('Gambia', 2015, Decimal('78.00'), 50)]

### 2. Assess the rankings for countries with the same water level access in a given year.
We expect countries with the same water level access in a given year to have the same rank since they are exactly the same value. Let us assess whether this is the case by filtering our results such that only records with 100% water level access are retrieved.

In [9]:
%%sql

SELECT
    Country_name,
    Time_period,
    Pct_managed_drinking_water_services,
    ROW_NUMBER() OVER( PARTITION BY Time_period
    ORDER BY Pct_managed_drinking_water_services ASC) AS Rank_of_water_services
FROM
    united_nations.Access_to_Basic_Services
WHERE
    Pct_managed_drinking_water_services = 100;

LIMIT 50

 * mysql+pymysql://root:***@localhost:3306/united_nations
208 rows affected.
(pymysql.err.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'LIMIT 50' at line 1")
[SQL: LIMIT 50]
(Background on this error at: https://sqlalche.me/e/20/f405)

## 3. Apply the RANK function instead.
Replace the ranking function used in Exercise 1 with the RANK() function, and observe how the results differ.

In [11]:
%%sql

SELECT
    Country_name,
    Time_period,
    Pct_managed_drinking_water_services,
    RANK() OVER( PARTITION BY Time_period
    ORDER BY Pct_managed_drinking_water_services ASC) AS Rank_of_water_services
FROM
    united_nations.Access_to_Basic_Services
LIMIT 50;

 * mysql+pymysql://root:***@localhost:3306/united_nations
50 rows affected.

[('Central African Republic', 2015, Decimal('44.00'), 1),
 ('Democratic Republic of the Congo', 2015, Decimal('45.33'), 2),
 ('South Sudan', 2015, Decimal('46.33'), 3),
 ('Angola', 2015, Decimal('50.33'), 4),
 ('Somalia', 2015, Decimal('50.67'), 5),
 ('Chad', 2015, Decimal('51.67'), 6),
 ('Ethiopia', 2015, Decimal('52.00'), 7),
 ('Madagascar', 2015, Decimal('53.33'), 8),
 ('Papua New Guinea', 2015, Decimal('53.67'), 9),
 ('Uganda', 2015, Decimal('55.00'), 10),
 ('Mozambique', 2015, Decimal('55.67'), 11),
 ('Eritrea', 2015, Decimal('56.33'), 12),
 ('Burkina Faso', 2015, Decimal('56.33'), 12),
 ('Niger', 2015, Decimal('56.67'), 14),
 ('Equatorial Guinea', 2015, Decimal('57.67'), 15),
 ('United Republic of Tanzania', 2015, Decimal('58.33'), 16),
 ('Yemen', 2015, Decimal('59.00'), 17),
 ('Guinea-Bissau', 2015, Decimal('60.00'), 18),
 ('Sierra Leone', 2015, Decimal('60.00'), 18),
 ('Sudan', 2015, Decimal('61.33'), 20),
 ('Cameroon', 2015, Decimal('62.67'), 21),
 ('Rwanda', 2015, Decimal('63.00'), 22),
 ('Zambia', 2015, Decimal('63.67'), 23),
 ('Haiti', 2015, Decimal('64.00'), 24),
 ('Kenya', 2015, Decimal('64.33'), 25),
 ('Benin', 2015, Decimal('65.33'), 26),
 ('Congo', 2015, Decimal('66.33'), 27),
 ('Togo', 2015, Decimal('66.33'), 27),
 ('Mauritania', 2015, Decimal('66.67'), 29),
 ('Afghanistan', 2015, Decimal('67.00'), 30),
 ('Guinea', 2015, Decimal('67.00'), 30),
 ('Burundi', 2015, Decimal('68.33'), 32),
 ('Nigeria', 2015, Decimal('69.00'), 33),
 ('Djibouti', 2015, Decimal('69.67'), 34),
 ('Zimbabwe', 2015, Decimal('70.00'), 35),
 ('Malawi', 2015, Decimal('71.33'), 36),
 ("C么te d'Ivoire", 2015, Decimal('71.33'), 36),
 ('Gabon', 2015, Decimal('72.00'), 38),
 ('Liberia', 2015, Decimal('72.67'), 39),
 ('Cambodia', 2015, Decimal('73.33'), 40),
 ('Eswatini', 2015, Decimal('73.33'), 40),
 ('Kiribati', 2015, Decimal('73.67'), 42),
 ('Solomon Islands', 2015, Decimal('74.33'), 43),
 ('Lesotho', 2015, Decimal('74.67'), 44),
 ('Mongolia', 2015, Decimal('75.67'), 45),
 ('Sao Tome and Principe', 2015, Decimal('76.00'), 46),
 ('Mali', 2015, Decimal('76.00'), 46),
 ('Myanmar', 2015, Decimal('76.33'), 48),
 ('Timor-Leste', 2015, Decimal('78.00'), 49),
 ('Gambia', 2015, Decimal('78.00'), 49)]