In [1]:
# Load and activate the SQL extension to allow us to execute SQL in a Jupyter notebook. 
# If you get an error here, make sure that mysql and pymysql are installed correctly. 

%load_ext sql

In [3]:
# Establish a connection to the local database using the '%sql' magic command.
# Replace 'password' with our connection password and `db_name` with our database name. 
# If you get an error here, please make sure the database name or password is correct.

%sql mysql+pymysql://root:ofge@localhost:3306/united_nations

## Exercise
Let us enter the following base query which selects the three columns we will be using from our Access_to_Basic_Services table: Country_name, Time_period, and Pct_managed_drinking_water_services.

In [6]:
%%sql

SELECT
    Country_name,
    Time_period,
    Pct_managed_drinking_water_services
FROM
    united_nations.Access_to_Basic_Services
LIMIT 10;

 * mysql+pymysql://root:***@localhost:3306/united_nations
10 rows affected.

[('Kazakhstan', 2015, Decimal('94.67')),
 ('Kazakhstan', 2016, Decimal('94.67')),
 ('Kazakhstan', 2017, Decimal('95.00')),
 ('Kazakhstan', 2018, Decimal('95.00')),
 ('Kazakhstan', 2019, Decimal('95.00')),
 ('Kazakhstan', 2020, Decimal('95.00')),
 ('Kyrgyzstan', 2015, Decimal('89.67')),
 ('Kyrgyzstan', 2016, Decimal('90.33')),
 ('Kyrgyzstan', 2017, Decimal('91.00')),
 ('Kyrgyzstan', 2018, Decimal('91.33'))]

## 1. Add a new column with the previous year's percentage of managed drinking water.
Add the line with the LAG() function to the base query above to extract the previous year's percentage of managed drinking water within each country. Store the results in a new column.

In [7]:
%%sql

SELECT
    Country_name,
    Time_period,
    Pct_managed_drinking_water_services,

    LAG(Pct_managed_drinking_water_services) OVER( PARTITION BY Country_name ORDER BY Time_period ASC) AS Prev_year_pct_managed_drinking_water_services
FROM
    united_nations.Access_to_Basic_Services
LIMIT 10;

 * mysql+pymysql://root:***@localhost:3306/united_nations
10 rows affected.

[('Afghanistan', 2015, Decimal('67.00'), None),
 ('Afghanistan', 2016, Decimal('69.67'), Decimal('67.00')),
 ('Afghanistan', 2017, Decimal('72.33'), Decimal('69.67')),
 ('Afghanistan', 2018, Decimal('75.33'), Decimal('72.33')),
 ('Afghanistan', 2019, Decimal('78.00'), Decimal('75.33')),
 ('Afghanistan', 2020, Decimal('80.33'), Decimal('78.00')),
 ('Algeria', 2015, Decimal('92.00'), None),
 ('Algeria', 2016, Decimal('93.00'), Decimal('92.00')),
 ('Algeria', 2017, Decimal('93.00'), Decimal('93.00')),
 ('Algeria', 2018, Decimal('93.00'), Decimal('93.00'))]

## 2. Determine the Annual Rate of Change between consecutive years.
Adding on to the query above, let us go further and determine the Annual Rate of Change between consecutive years found by calculating the difference between a measurement and its lag.

In [9]:
%%sql

SELECT
    Country_name,
    Time_period,
    Pct_managed_drinking_water_services,

    LAG(Pct_managed_drinking_water_services) OVER( PARTITION BY Country_name
    ORDER BY Time_period ASC) AS Prev_year_pct_managed_drinking_water_services,
    Pct_managed_drinking_water_services - LAG(Pct_managed_drinking_water_services) OVER( PARTITION BY Country_name
    ORDER BY Time_period ASC) AS ARC_pct_managed_drinking_water_services
FROM
    united_nations.Access_to_Basic_Services
LIMIT 10;

 * mysql+pymysql://root:***@localhost:3306/united_nations
10 rows affected.

[('Afghanistan', 2015, Decimal('67.00'), None, None),
 ('Afghanistan', 2016, Decimal('69.67'), Decimal('67.00'), Decimal('2.67')),
 ('Afghanistan', 2017, Decimal('72.33'), Decimal('69.67'), Decimal('2.66')),
 ('Afghanistan', 2018, Decimal('75.33'), Decimal('72.33'), Decimal('3.00')),
 ('Afghanistan', 2019, Decimal('78.00'), Decimal('75.33'), Decimal('2.67')),
 ('Afghanistan', 2020, Decimal('80.33'), Decimal('78.00'), Decimal('2.33')),
 ('Algeria', 2015, Decimal('92.00'), None, None),
 ('Algeria', 2016, Decimal('93.00'), Decimal('92.00'), Decimal('1.00')),
 ('Algeria', 2017, Decimal('93.00'), Decimal('93.00'), Decimal('0.00')),
 ('Algeria', 2018, Decimal('93.00'), Decimal('93.00'), Decimal('0.00'))]