In [1]:
# Load and activate the SQL extension to allow us to execute SQL in a Jupyter notebook. 
# If you get an error here, make sure that mysql and pymysql are installed correctly. 

%load_ext sql

In [2]:
# Establish a connection to the local database using the '%sql' magic command.
# Replace 'password' with our connection password and `db_name` with our database name. 
# If you get an error here, please make sure the database name or password is correct.

%sql mysql+pymysql://root:ofge@localhost:3306/united_nations

### 1. Replace NULL values for Central and Southern Asia
Write an IF statement that checks whether the Region is Central and Southern Asia and whether Pct_unemployment is NULL. If both conditions are met, set the value of a new alias column called New_pct_unemployment to 19.59. If the conditions are not met, use -999 as a placeholder value in the New_pct_unemployment column.

In [3]:
%%sql

SELECT Region,
       Pct_unemployment,
       IF( (Region = "Central and Southern Asia") AND (Pct_unemployment IS NULL), 19.59, -999
       ) AS New_pct_unemployment
FROM united_nations.Access_to_Basic_Services
LIMIT 10; -- Remove this line to see the full result

 * mysql+pymysql://root:***@localhost:3306/united_nations
10 rows affected.

[('Central and Southern Asia', Decimal('4.93'), Decimal('-999')),
 ('Central and Southern Asia', Decimal('4.96'), Decimal('-999')),
 ('Central and Southern Asia', Decimal('4.90'), Decimal('-999')),
 ('Central and Southern Asia', Decimal('4.85'), Decimal('-999')),
 ('Central and Southern Asia', Decimal('4.80'), Decimal('-999')),
 ('Central and Southern Asia', Decimal('4.89'), Decimal('-999')),
 ('Central and Southern Asia', None, Decimal('19.59')),
 ('Central and Southern Asia', None, Decimal('19.59')),
 ('Central and Southern Asia', None, Decimal('19.59')),
 ('Central and Southern Asia', None, Decimal('19.59'))]

### 2. Replace NULL values for Eastern and South-Eastern Asia
Now we have our first region sorted, but we have various regions to consider, so we need to add conditions for each region. To begin, add a second condition to the solution to set the New_pct_unemployment for Eastern and South-Eastern Asia to 22.64, using a nested IF statement. If neither condition is met, it should assign a value of -999.

In [5]:
%%sql

SELECT Region,
       Pct_unemployment,
       IF( (Region = "Central and Southern Asia") AND (Pct_unemployment IS NULL), 19.59,
            IF( (Region = "Eastern and South-Eastern Asia") AND (Pct_unemployment IS NULL), 22.64,
                 -999
            )
       ) AS New_pct_unemployment
FROM united_nations.Access_to_Basic_Services

LIMIT 10;

 * mysql+pymysql://root:***@localhost:3306/united_nations
10 rows affected.

[('Central and Southern Asia', Decimal('4.93'), Decimal('-999')),
 ('Central and Southern Asia', Decimal('4.96'), Decimal('-999')),
 ('Central and Southern Asia', Decimal('4.90'), Decimal('-999')),
 ('Central and Southern Asia', Decimal('4.85'), Decimal('-999')),
 ('Central and Southern Asia', Decimal('4.80'), Decimal('-999')),
 ('Central and Southern Asia', Decimal('4.89'), Decimal('-999')),
 ('Central and Southern Asia', None, Decimal('19.59')),
 ('Central and Southern Asia', None, Decimal('19.59')),
 ('Central and Southern Asia', None, Decimal('19.59')),
 ('Central and Southern Asia', None, Decimal('19.59'))]

### 3. Replace NULL values for remaining regions
Now, let's add more conditions to assign the New_pct_unemployment values for the remaining regions. We have five more regions to assign Pct_unemployment values for. Add five more layers to the nested IF statement to set the unemployment percentage for these regions as follows:

Europe and Northern America to 24.43
Latin America and the Caribbean to 24.23
Northern Africa and Western Asia to 17.84
Oceania to 4.98
Sub-Saharan Africa to 33.65
Assign -999 if none of the conditions are met.

In [8]:
%%sql

SELECT Region,
       Pct_unemployment,
       IF( (Region = "Central and Southern Asia") AND (Pct_unemployment IS NULL), 19.59,
            IF( (Region = "Eastern and South-Eastern Asia") AND (Pct_unemployment IS NULL), 22.64,
                 IF( (Region = "Europe and Northern America") AND (Pct_unemployment IS NULL), 24.43,
                      IF( (Region = "Latin America and the Caribbean") AND (Pct_unemployment IS NULL), 24.23,
                           IF( (Region = "Northern Africa and Western Asia") AND (Pct_unemployment IS NULL), 17.84,
                                IF( (Region = "Oceania") AND (Pct_unemployment IS NULL), 4.98,
                                     IF( (Region = "Sub-Saharan Africa") AND (Pct_unemployment IS NULL), 33.65,
                                          -999
                                         )
                                    )
                               )
                          )
                     )
                )
           )
       ) AS New_pct_unemployment
FROM united_nations.Access_to_Basic_Services;

 * mysql+pymysql://root:***@localhost:3306/united_nations
(pymysql.err.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near ')\n                               )\n                          )\n                 ' at line 10")
[SQL: SELECT Region,
       Pct_unemployment,
       IF( (Region = "Central and Southern Asia") AND (Pct_unemployment IS NULL), 19.59,
            IF( (Region = "Eastern and South-Eastern Asia") AND (Pct_unemployment IS NULL), 22.64,
                 IF( (Region = "Europe and Northern America") AND (Pct_unemployment IS NULL), 24.43,
                      IF( (Region = "Latin America and the Caribbean") AND (Pct_unemployment IS NULL), 24.23,
                           IF( (Region = "Northern Africa and Western Asia") AND (Pct_unemployment IS NULL), 17.84,
                                IF( (Region = "Oceania") AND (Pct_unemployment IS NULL), 4.98,

                                    )
                               )
                          )
                     )
                )
           )
       ) AS New_pct_unemployment
FROM united_nations.Access_to_Basic_Services;]
(Background on this error at: https://sqlalche.me/e/20/f405)

### 4. Replace the placeholder value
Finally, replace the placeholder value of -999 with the actual Pct_unemployment value for records where none of our conditions are met.

In [10]:
%%sql

SELECT Region,
       Pct_unemployment,
       IF( (Region = "Central and Southern Asia") AND (Pct_unemployment IS NULL), 19.59,
            IF( (Region = "Eastern and South-Eastern Asia") AND (Pct_unemployment IS NULL), 22.64,
                 IF( (Region = "Europe and Northern America") AND (Pct_unemployment IS NULL), 24.43,
                      IF( (Region = "Latin America and the Caribbean") AND (Pct_unemployment IS NULL), 24.23,
                           IF( (Region = "Northern Africa and Western Asia") AND (Pct_unemployment IS NULL), 17.84,
                                IF( (Region = "Oceania") AND (Pct_unemployment IS NULL), 4.98,
                                     IF( (Region = "Sub-Saharan Africa") AND (Pct_unemployment IS NULL), 33.65,
                                          Pct_unemployment
                                         )
                                    )
                               )
                          )
                     )
                )
           )
       ) AS New_pct_unemployment
FROM united_nations.Access_to_Basic_Services;

 * mysql+pymysql://root:***@localhost:3306/united_nations
(pymysql.err.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near ') AS New_pct_unemployment\nFROM united_nations.Access_to_Basic_Services' at line 18")
[SQL: SELECT Region,
       Pct_unemployment,
       IF( (Region = "Central and Southern Asia") AND (Pct_unemployment IS NULL), 19.59,
            IF( (Region = "Eastern and South-Eastern Asia") AND (Pct_unemployment IS NULL), 22.64,
                 IF( (Region = "Europe and Northern America") AND (Pct_unemployment IS NULL), 24.43,
                      IF( (Region = "Latin America and the Caribbean") AND (Pct_unemployment IS NULL), 24.23,
                           IF( (Region = "Northern Africa and Western Asia") AND (Pct_unemployment IS NULL), 17.84,
                                IF( (Region = "Oceania") AND (Pct_unemployment IS NULL), 4.98,
                                     IF( (Region = "Sub-Saharan Africa") AND (Pct_unemployment IS NULL), 33.65,
                                          Pct_unemployment
                                         )
                                    )
                               )
                          )
                     )
                )
           )
       ) AS New_pct_unemployment
FROM united_nations.Access_to_Basic_Services;]
(Background on this error at: https://sqlalche.me/e/20/f405)